<div class="drawer">
  <input id="app-drawer" type="checkbox" class="drawer-toggle" />
  <div class="flex flex-col drawer-content h-screen">
    <div class="w-full navbar sticky top-0 bg-base-300">
      <div class="flex-none lg:hidden">
        <label for="app-drawer" class="btn btn-square btn-ghost">
          <fa-icon [icon]="hamburgerMenuIcon"></fa-icon>
        </label>
      </div>
      <div class="flex-1 px-2 mx-2">
        <span class="text-lg font-bold">Cosmos Node Monitor</span>
      </div>
      <div class="flex-none hidden lg:block">
        <ul class="menu horizontal">
          <li *ngFor="let chain of chains">
            <ng-container
              *ngIf="
                chain.chainId &&
                chain.nodeMonitorLink &&
                chain.blockExplorerLink
              "
            >
              <a class="rounded-btn" href="{{ chain.nodeMonitorLink }}">
                <div class="avator rounded-full w-5 h-5">
                  <img src="../assets/project-logos/ununifi.png" />
                </div>
                {{ chain.name }} ({{ chain.networkType }})</a
              >
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex-grow">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer-center sticky bottom-0 bg-base-300">
      <div *ngIf="matchChain">
        <span class="footer-title">Chain Info</span>
        <a href="{{ matchChain.officialWebsiteLink }}"
          ><fa-icon [icon]="websiteIcon"></fa-icon>Chain</a
        >
        <a href="{{ matchChain.twitterLink }}"
          ><fa-icon [icon]="twitterIcon"></fa-icon>Twitter</a
        >
        <a href="{{ matchChain.githubLink }}"
          ><fa-icon [icon]="githubIcon"></fa-icon>GitHub</a
        >
      </div>
      <div>
        <span class="footer-title">{{ developerInfo.name }}</span>
        <a *ngFor="let link of developerInfo.links" href="{{ link.link }}">
          <fa-icon [icon]="link.icon"></fa-icon>{{ link.name }}</a
        >
      </div>
    </footer>
  </div>
  <div class="drawer-side">
    <label for="app-drawer" class="drawer-overlay"></label>
    <ul class="p-4 overflow-y-auto menu w-80 bg-base-100">
      <li *ngFor="let chain of chains">
        <ng-container
          *ngIf="
            chain.chainId && chain.nodeMonitorLink && chain.blockExplorerLink
          "
        >
          <a href="{{ chain.nodeMonitorLink }}">
            <div class="avator rounded-full w-5 h-5">
              <img src="../assets/project-logos/ununifi.png" />
            </div>
            {{ chain.name }} ({{ chain.networkType }})</a
          >
        </ng-container>
      </li>
    </ul>
  </div>
</div>
